@import "penPal.css";
@import url('https://fonts.googleapis.com/css2?family=Mountains+of+Christmas:wght@700&display=swap');


body,
button,
input,
select,
textarea {
	color: red;
	font-family: cursive, Arial, sans-serif;
	font-size: 14px;
	line-height: 1.5;
}

h1,h2,h3,h4,h5,h6 {
  font-family: "Mountains of Christmas", serif;
  letter-spacing: 2px;
}

h1 {
  font-size: 4em;
}

h2 {
  font-size: 2em;
}

ul {
    list-style-type: none;
    padding-inline-start: 0.25rem;
}

#submitRequest {
    margin: 1rem 0 1rem 1rem;
    padding: 0.5rem;
    background-color: green;
    color: blue;
    font-size: 1rem;
}